
body {
  background-color: rgb(240, 238, 238);
}

.Title {
  margin-left: 65px;
}

.Box {
  background-color: white;
  border-radius: 1px;
  box-shadow: 1px 1px 7px;
  margin-left: 65px;
  width: 900px;
  height: 600px;
}

.Text {
  margin-left: 15px;
}

.Description {
  margin-left: 15px;
  margin-top: -15px;
}

.Title-Box{
    margin-left: 15px;
    width: 860px;
    height: 30px;
}

.Title-Box:focus{
    box-shadow: 1px 1px 10px lightskyblue;
}

.Body-Box{
    margin-left: 15px;
    width: 860px;
    height: 300px;
}

.Body-Box:focus{
    box-shadow: 1px 1px 10px lightskyblue;
}

.Tags-Box{
    margin-left: 15px;
    width: 860px;
    height: 30px;
}

.Tags-Box:focus{
    box-shadow: 1px 1px 10px lightskyblue;
}

.AskButton{
    border:none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    background-color: rgb(33, 131, 243);
    color:white;
}

.AskButton:hover{
    background-color: rgb(3, 51, 105);
}

