<link
  rel="stylesheet"
  type="text/css"
  href="./components/headTabel/headTabel.css"
/>
<div class="Intro">
  <div class="Left">
    <text class="AllQuestions">All Questions</text>
  </div>
  <button class="Button" onclick="alert('CommentsAndResponse')">
    Ask Question
  </button>
  <p class="Count">190230</p>
  <button class="Button2">
    Filter
  </button>
  <div class="ToolBar">
    <a href="#newest">Newest</a>
    <a href="#active">Active</a>
    <a href="#bountied">Bountied</a>
    <a href="#unanswered">Unanswered</a>
    <button class="popButton">More</button>
  </div>
</div>
