<link
  rel="stylesheet"
  type="text/css"
  href="./components/mainBar/mainBar.css"
/>
<div class="topnav">
  <a class="active" href="#home">
    <text>stack</text>
    <text class="boldText">overflow</text>
  </a>
  <a href="#new">Products</a>
  <a href="#contact">Customers</a>
  <a href="#about">Uses cases</a>
  <button class="logIn">Log in</button>
  <button class="singIn">Sing up</button>
  <div class="searchContainer">
    <form class="searchContainer" action="/action_page.php">
      <input type="text" placeholder="Search.." name="search" />
    </form>
  </div>
</div>
