<link rel="stylesheet" type="text/css" href="./components/post/post.css" />
<link rel="stylesheet" type="text/css" href="./components/user/user.css" />
  <div class="Table">
    <div class="LeftPost">
      <p class="App-Votes">
        <p class="TextLeftPost">votes</p>
      </p>
      <p class="App-Answer">
        <p class="TextLeftPost">answer</p>
      </p>
      <p class="App-View">
        <p class="TextLeftPost">view</p>
      </p>
    </div>
    <div class="Post">
      <p class="App-Title">
      </p>
      <p class="App-Body"></p>
      <p class="App-Tag"></p>
    </div>
    <div class="UserTable">
      <img class="Image" src="user.jpg" alt="user"></img>
      <div class="PostDate"></div>
      <div class="UserName"></div>
  </div>
</div>