.List {
  border: 0.1px solid grey;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 400px;
  height: auto;
  color: black;
}
.centercolumn {
  border: 1px solid black;
  width: auto;
  color: #333;
  background-color: #fff;
  text-align: center;
  margin-left: 200px;
  margin-right: 350px;
  margin-top: 50px;
  max-width: 100%;
}

.Delete {
  margin-left: 10px;
  margin-top: 20px;
  background-color: rgb(42, 179, 243);
  padding: 7px 7px;
  border-radius: 5px;
  border: none;
}

.UpdateButton {
  background-color: rgb(42, 179, 243);
  padding: 7px 7px;
  border-radius: 5px;
  border: none;
}

.Delete:hover {
  background-color: rgb(29, 29, 228);
  color: white;
}
.UpdateButton:hover {
  background-color: rgb(29, 29, 228);
  color: white;
}
